<div class="d-flex justify-content-between" *ngIf="showNavigation">
  <div class="col-sm-auto">Showing {{from}}-{{to}} of {{total}} {{pluralItemName}}</div>
  <div class="col-sm-auto">
    <ul class="pagination pagination-sm" *ngIf="showPages">
      
      <li class="page-item" [ngClass]="{ disabled: prevPage.disabled }">
        <a class="page-link" [routerLink]="prevPage.url" [queryParams]="prevPage.queryParams" (click)="prevPage.onClick()">
          <span>&laquo;</span>
        </a>
      </li>

      <li *ngFor="let item of pageItems" class="page-item" [ngClass]="pageItemCss(item)">
        <a *ngIf="!item.isSkipedRange" class="page-link" [routerLink]="[getUrl()]" 
          [queryParams]="item.queryParams" (click)="onChangePageClick(item.page)">{{item.page}}</a>
        <a *ngIf="item.isSkipedRange" class="page-link">...</a>
      </li>

      <li class="page-item" [ngClass]="{ disabled: nextPage.disabled }">
        <a class="page-link" [routerLink]="nextPage.url" [queryParams]="nextPage.queryParams" (click)="nextPage.onClick()">
          <span>&raquo;</span>
        </a>
      </li>

    </ul>
  </div>
</div>