<ng-container *ngIf="searchResult">
  <table class="table">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr app-user-item *ngFor="let user of searchResult.users" [user]="user"></tr>
    </tbody>
  </table>
  <app-search-result-navigation [searchResult]="searchResult" pluralItemName="users" (changePageClick)="onChangePageClick($event)">
  </app-search-result-navigation>
</ng-container>