<td>
  <a [routerLink]="['/cards', card.id]">{{card.title}}</a>
  <i *ngIf="card.verified" class="bi bi-check" title="verified"></i>
</td>
<td>{{card.author}}</td>
<td>{{cardDisplayDate}}</td>
<td>{{cardKeywordsString}}</td>