<td>{{user.userName}}</td>
<td>{{user.role}}</td>
<ng-container *ngIf="showChangeRole">
  <td>
    <select class="form-select" id="role" name="role" [formControl]="selectRoleControl">
      <option *ngFor="let role of roles" [ngValue]="role">
        {{role}}
      </option>
    </select>
  </td>
  <td>
    <input class="btn btn-primary" type="button" value="Change Role" 
      [disabled]="selectRoleControl.invalid" (click)="onChangeRoleClick()">
  </td>
</ng-container>