<ng-container *ngIf="searchResult">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Keywords</th>
      </tr>
    </thead>
    <tbody>
      <tr app-card-item *ngFor="let card of searchResult?.cards" [card]="card"></tr>
    </tbody>
  </table>
  <app-search-result-navigation [searchResult]="searchResult" pluralItemName="index cards" (changePageClick)="onChangePageClick($event)"></app-search-result-navigation>
</ng-container>