<ng-template [ngIf]="!(isAuthenticated |async)" [ngIfElse]="authenticated">
  <ul class="navbar-nav me-auto">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Register</a></li>
  </ul>
</ng-template>
<ng-template #authenticated>
  <ul class="navbar-nav me-auto">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" (click)="logout()">Logout</a></li>
  </ul>
</ng-template>