<div class="container col-lg-8 col-xl-6">
  <div class="row">
    <h1 class="m-3 text-center">Keywords</h1>
  </div>
  <div *ngIf="error" class="row">
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ng-template [ngIf]="!selectedKeyword">
        <form [formGroup]="addForm" (submit)="onAddKeyword()">
          <div class="mt-3">
            <label for="addKeywordName" class="form-label">Add Keyword</label>
            <input type="text" class="form-control" id="addKeywordName" name="addKeywordName"
              formControlName="addKeywordName" [ngClass]="addKeywordNameValidCss()">
            <div class="invalid-feedback">
              Keyword should be up to 20 characters long and contain only alphanumeric
              character and underscore.
            </div>
          </div>
          <div class="d-grid mt-3">
            <input type="button" class="btn btn-primary" value="Add Keyword" (click)="onAddKeyword()">
          </div>
        </form>
      </ng-template>

      <ng-template [ngIf]="selectedKeyword">
        <form [formGroup]="editForm" (submit)="onEditKeyword()">
          <div class="mt-3">
            <label for="editKeywordName" class="form-label">Edit Keyword</label>
            <input type="text" class="form-control" id="editKeywordName" name="editKeywordName"
              formControlName="editKeywordName" [ngClass]="editKeywordNameValidCss()">
            <div class="invalid-feedback">
              Keyword should be up to 20 characters long and contain only alphanumeric
              character and underscore.
            </div>
          </div>
          <div class="d-grid mt-3">
            <input type="button" class="btn btn-primary" value="Save Keyword" (click)="onEditKeyword()">
            <input type="button" class="btn btn-danger mt-1" value="Delete Keyword" (click)="onDeleteKeyword()">
            <input type="button" class="btn btn-secondary mt-1" value="Cancel" (click)="onCancelEdit()">
          </div>
        </form>
      </ng-template>

    </div>

    <div class="col-sm">
      <input *ngFor="let keyword of keywords$ | async" type="button" class="btn btn-secondary m-1"
        [value]="keyword.name" (click)="onKeywordClick(keyword)">
    </div>
  </div>
</div>