<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">CardFile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Cards</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item nav-link" [routerLink]="['/cards']">Browse</a></li>
            <li><a class="dropdown-item nav-link" [routerLink]="['/create-card']">Create</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="showKeywords">
          <a class="nav-link" [routerLink]="['/keywords']" [routerLinkActive]="['active']">Keywords</a>
        </li>
        <li class="nav-item" *ngIf="showUsers">
          <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">Users</a>
        </li>
      </ul>
      <hr class="dropdown-divider">
      <app-login-menu></app-login-menu>
    </div>
  </div>
</nav>