<div class="container-xl">
  <div class="row">

    <div class="col-sm-5 col-md-4">
      <form [formGroup]="searchForm">
        <div class="d-grid mt-3">
          <input type="button" class="btn btn-primary btn-block" value="Filter" (click)="onFilter()">
          <input type="button" class="btn btn-primary btn-block mt-2" value="Clear Filters" (click)="onClearFilters()">
        </div>
        <div class="mt-3">
          <label for="userName" class="form-label">UserName</label>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="userName">
        </div>
        <div class="mt-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-select" id="role" name="role" formControlName="role">
            <option *ngFor="let option of roleOptions" [ngValue]="option">
              {{option.display}}
            </option>
          </select>
        </div>
      </form>
    </div>

    <ng-container *ngIf="searchResult$ | async as searchResult else loading">
      <app-user-search-result class="col" [searchResult]="searchResult"
        (changePageClick)="onChangePageClick($event)"></app-user-search-result>
    </ng-container>
    
    <ng-template #loading>
      <div class="col d-flex justify-content-center spinner-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>