<div class="container-xl" [formGroup]="searchForm">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <form>
        <div class="d-grid mt-3">
          <input type="button" class="btn btn-primary btn-block" value="Filter" (click)="onFilter()">
          <input type="button" class="btn btn-primary btn-block mt-2" value="Clear Filters" (click)="onClearFilters()">
        </div>
        <div class="mt-3 ms-2">
          <label for="includeUnverified" class="form-label">
            <input type="checkbox" class="form-check-input" id="includeUnverified" name="includeUnverified"
            formControlName="includeUnverified">
            Show Unverified
          </label>
        </div>
        <div class="mt-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </div>
        <div class="mt-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" class="form-control" id="author" name="author" formControlName="author">
        </div>
        <div class="mt-3">
          <label for="after" class="form-label">After</label>
          <input type="date" class="form-control" id="after" name="after" formControlName="after">
        </div>
        <div class="mt-3">
          <label for="before" class="form-label">Before</label>
          <input type="date" class="form-control" id="before" name="before" formControlName="before">
        </div>
        <div class="mt-3 overflow-auto keyword-list-container" formArrayName="keywords">
          <legend>Keywrods</legend>
          <div *ngFor="let keyword of keywords; let i = index">
            <label class="keyword-item">
              <input type="checkbox" name="" class="form-check-input me-1" [formControlName]="i">
              {{keyword}}
            </label>
          </div>
        </div>
      </form>
    </div>

    <ng-container *ngIf="searchResult$ | async as searchResult else loading">
      <app-card-search-result class="col" [searchResult]="searchResult" (changePageClick)="onChangePageClick($event)"></app-card-search-result>
    </ng-container>
    
    <ng-template #loading>
      <div class="col d-flex justify-content-center spinner-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>
