<div class="container" [formGroup]="editForm">
  <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
  <h1 class="mt-3">Edit Card</h1>
  <form class="form">
    <div class="mt-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" formControlName="title"
        [ngClass]="controlValidCss('title')">
      <div class="invalid-feedback">Title is required and should be no more than 200 characters long.</div>
    </div>

    <div class="row mt-3">
      <div class="dropdown col-auto">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
          data-bs-auto-close="outside">
          Keywords
        </button>
        <ul class="dropdown-menu" formArrayName="keywords">
          <li *ngFor="let keyword of keywords; let i = index">
            <label class="dropdown-item">
              <input type="checkbox" name="" class="form-check-input me-1" [formControlName]="i">
              {{keyword}}
            </label>
          </li>
        </ul>
      </div>
      <div class="col p-2">
        {{selectedKeywordsString}}
      </div>
    </div>

    <div class="mt-3">
      <!-- <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content" rows="20" formControlName="content"
        [ngClass]="controlValidCss('content')"></textarea>
      <div class="invalid-feedback">Content is required.</div> -->
      <p class="card-content">{{content$ | async}}</p>
    </div>

    <div class="d-grid mt-3">
      <input type="button" class="btn btn-primary btn-block" value="Save" (click)="onSubmit()">
    </div>
  </form>
</div>