<form class="container mt-5 col-sm-6 col-md-6 col-lg-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let error of errors" class="alert alert-danger" role="alert">{{ error }}</div>
  
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" [ngClass]="controlValidCss('userName')" id="username" name="username" formControlName="userName" 
      type="text" placeholder="Username">
    <div class="invalid-feedback">This field is required.</div>
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" [ngClass]="controlValidCss('password')" id="password" name="password" formControlName="password" 
      type="password" placeholder="Password">
    <div class="invalid-feedback">This field is required.</div>
  </div>
  
  <button class="btn btn-primary" type="submit" [disabled]="loginForm.disabled">Login</button>
</form>