<form class="container mt-5 col-sm-6 col-md-6 col-lg-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let error of errors" class="alert alert-danger" role="alert">{{ error }}</div>

  <div class="mb-3">
    <label for="userName" class="form-label">Username</label>
    <input type="text" class="form-control" [ngClass]="controlValidCss('userName')"
      id="userName" name="userName" formControlName="userName">
    <div class="invalid-feedback">Username is required.</div>
  </div>

  <div formGroupName="passwords">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" [ngClass]="controlValidCss('passwords.password')"
        id="password" name="password" formControlName="password">
      <div *ngIf="registrationForm.get('passwords.password')?.hasError('required') else passwordRequirementFeedback" class="invalid-feedback">
        Password is required.
      </div>
      <ng-template #passwordRequirementFeedback>
        <div class="invalid-feedback">
          Must have be at least 6 character, have at least one uppercase and one lowercase letter,
          one digit and one non alphanumeric character.
        </div>
      </ng-template>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" [ngClass]="confirmPasswordValidCss()"
        id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
      <div class="invalid-feedback">Must match password.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="registrationForm.disabled">Register</button>
</form>