<div class="container mt-5">
  <ng-container *ngIf="!cardNotFound else notFound">
    <div *ngIf="card$ | async as card else loading">
      <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
      <header class="d-flex align-items-center">
        <h1>{{card.title}}</h1>
        <span class="ms-2" *ngIf="showEditDelete">
          (
          <a [routerLink]="['/edit-card', card.id]">Edit</a>,
          <a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</a>
          )
        </span>
      </header>
      <article class="p-1">
        <span><span class="fw-bold">Author:</span> {{card.author}}</span><br>
        <span>
          <span class="fw-bold">Verification:</span> {{ card.verified ? 'verified' : 'not verified' }}
          <span class="ms-0" *ngIf="showEditDelete && !card.verified">
            (
              <a [routerLink]="[]" (click)="onMarkVerified()">Mark as verified</a>
            )
          </span>
        </span><br>
        <span><span class="fw-bold">Created:</span> {{toLocaleString(card.createdAt)}}</span><br>
        <span><span class="fw-bold">Keywords:</span> {{toComaSeparetedList(card.keywords)}}</span><br>
        <p class="card-content mt-3">{{content$ | async}}</p>
      </article>
      <div #confirmDeleteModal class="modal fade" id="confirmDeleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" [disabled]="deleteInProgress"></button>
            </div>
            <div class="modal-body">
              <span>Do you want to delete '{{card.title}}' card?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="deleteInProgress">Cancel</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="deleteInProgress" (click)="onDelete()">
                Delete
                <!-- <ng-template [ngIf]="!deleteInProgress" [ngIfElse]="deleteButtonProgress">Delete</ng-template>
                <ng-template #deleteButtonProgress>
                  <span class="spinner-border spinner-border-sm"></span> Deleting
                </ng-template> -->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <ng-template #loading>
      <div class="d-flex justify-content-center spinner-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #notFound>
    <p class="text-center fs-2">Card Not Found</p>
  </ng-template>
</div>
